#---------------------------------
# Directories
#---------------------------------
**/node_modules/
target/
test/
tmp/


#---------------------------------
# Extensions
#---------------------------------
**/*.{gz,log,rar,tar,zip}


#---------------------------------
# Files
#---------------------------------
.csslintrc
.scss-lint.yml
.travis-yml
bower.json
gulpfile.js


#---------------------------------
# IDE generated
#---------------------------------
.idea/
.project
*.iml


#---------------------------------
# OS generated
#---------------------------------
__MACOSX/
.DS_Store
Thumbs.db
