//===================================================================
//  TEST : EM
//===================================================================

$root-font-size: 16px !default;


@include test-module('function: em()') {

  @include test('should convert pixel value to em value') {
    $test: em(18px, 12px);
    $expect: 1.5em;
    @include assert-equal($test, $expect);
  }

  @include test('should convert using root font-size') {
    $test: em(12px); // 12/$root-font-size
    $expect: .75em;
    @include assert-equal($test, $expect);
  }

  @include test('should return zero as a unitless number') {
    $test: em(0);
    $expect: 0;
    @include assert-equal($test, $expect);
  }

}
