//===================================================================
//  TEST : STRIP-UNIT
//===================================================================

$values: (1%, 1ch, 1cm, 1em, 1ex, 1in, 1mm, 1pc, 1pt, 1px, 1rem, 1vh, 1vmax, 1vmin, 1vw);


@include test-module('function: strip-unit()') {

  @include test('should remove unit from number and return the number') {
    @each $value in $values {
      $test: strip-unit($value);
      $expect: 1;
      @include assert-equal($test, $expect);
    }
  }

}
