/*===================================================================
   EXAMPLE : KEYFRAMES
===================================================================*/
@import "imports";


@include keyframes(example-1) {
  0% {
    opacity: 0;
    @include transform(scale(0.001));
  }

  100% {
    opacity: 1;
    @include transform(scale(1));
  }
}
