/*===================================================================
   EXAMPLE : SELECTION
===================================================================*/
@import "imports";


/* @include selection { ... }; */
.example-1 {
  @include selection {
    background: rgba(0, 0, 0, .2);
  };
}


/* @include selection(true) { ... }; */
.example-2 {
  @include selection(true) {
    background: rgba(0, 0, 0, .2);
  };
}
