/*===================================================================
   EXAMPLE : MEDIA-QUERY
===================================================================*/
/* @include media-query(medium, large) */
@media screen and (min-width: 46.25em) and (max-width: 61.24em) {
  .example-1 {
    font-size: 14px; } }

/* @include media-query(600, 800px) */
@media screen and (min-width: 37.5em) and (max-width: 49.99em) {
  .example-2 {
    font-size: 14px; } }

/* @include media-query($max: medium) */
@media screen and (max-width: 46.24em) {
  .example-3 {
    font-size: 14px; } }

/* @include media-query(medium, $orientation: landscape) */
@media screen and (min-width: 46.25em) and (orientation: landscape) {
  .example-4 {
    font-size: 14px; } }

/* @include media-query($type: print) */
@media print {
  .example-5 {
    color: #000; } }

/*
  .example-6 {
    font-size: 17px;
    @include media-query(small) {
      font-size: 14px;
    };
  }
*/
.example-6 {
  font-size: 17px; }
  @media screen {
    .example-6 {
      font-size: 14px; } }
