/*===================================================================
   EXAMPLE : PREFIX
===================================================================*/
.example-1 {
  /* @include prefix(border-radius, 3px 4px 5px 6px); */
  -webkit-border-radius: 3px 4px 5px 6px;
  border-radius: 3px 4px 5px 6px; }

.example-2 {
  /* @include prefix(border-radius, 3px 4px 5px 6px, webkit moz o ms); */
  -webkit-border-radius: 3px 4px 5px 6px;
  -moz-border-radius: 3px 4px 5px 6px;
  -o-border-radius: 3px 4px 5px 6px;
  -ms-border-radius: 3px 4px 5px 6px;
  border-radius: 3px 4px 5px 6px; }
