/*===================================================================
   EXAMPLE : SELECTION
===================================================================*/
/* @include selection { ... }; */
.example-1 ::-moz-selection {
  background: rgba(0, 0, 0, 0.2); }

.example-1 ::selection {
  background: rgba(0, 0, 0, 0.2); }

/* @include selection(true) { ... }; */
.example-2::-moz-selection {
  background: rgba(0, 0, 0, 0.2); }

.example-2::selection {
  background: rgba(0, 0, 0, 0.2); }
