//===================================================================
//  TEST : FLEXBOX
//===================================================================

@include test-module('mixin: flexbox') {

  @include test('flex-center-all: should add `display-flex`, `align-items`, and `justify-content`') {
    @include assert('') {
      @include input {
        @include flex-center-all;
      }

      @include expect {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  @include test('flex-center-all: should accept optional `direction` param') {
    @include assert('') {
      @include input {
        @include flex-center-all(column);
      }

      @include expect {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    }
  }

}
