
$hamburger-line-width: 100% !default;
$hamburger-line-height: 4px !default;
$hamburger-line-color: #333 !default;

$hamburger-line-1-y: 0 !default;;
$hamburger-line-2-y: $hamburger-line-height * 2 !default;
$hamburger-line-3-y: $hamburger-line-height * 4 !default;

$hamburger-container-class: "hamburger" !default;
$hamburger-line-class: "#{$hamburger-container-class}__item" !default;
$hamburger-active-class: "#{$hamburger-container-class}--active" !default;

$hamburger-container-padding: 4px !default;
$hamburger-container-width: 30px !default;
$hamburger-container-height: $hamburger-line-height * 5 !default;

$hamburger-transition-duration: 180ms !default;
$hamburger-transition-easing: ease-in-out !default;


@mixin hamburger() {
  .#{$hamburger-container-class} {
    display: block;
    position: relative;
    border: 0;
    padding: 0;
    width: $hamburger-container-width;
    height: $hamburger-container-height;
    cursor: pointer;

    &::-moz-focus-inner {
      border: 0;  // [4]
      padding: 0; // [4]
    }
  }


  .#{$hamburger-line-class} {
    display: block;
    position: absolute;
    left: 0;
    width: $hamburger-line-width;
    height: $hamburger-line-height;
    background: $hamburger-line-color;
    outline: 1px solid transparent; // firefox antialiasing hack

    -webkit-transition: $hamburger-transition-duration $hamburger-transition-easing;
    transition: $hamburger-transition-duration $hamburger-transition-easing;

    &:nth-child(1) {
      top: $hamburger-line-1-y;
    }

    &:nth-child(2) {
      top: $hamburger-line-2-y;
      opacity: 1;
    }

    &:nth-child(3) {
      top: $hamburger-line-3-y;
    }
  }


  &.#{$hamburger-active-class} .#{$hamburger-line-class} {
    &:nth-child(1) {
      top: $hamburger-line-2-y;
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
    }

    &:nth-child(2) {
      opacity: 0;
      //left: -60px;
    }

    &:nth-child(3) {
      top: $hamburger-line-2-y;
      -webkit-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }
  }
}
