//===================================================================
//  MAP-NEXT
//===================================================================

@function map-next-index($map, $current-key) {
  $found: false;
  $i: 1;

  @each $key in map-keys($map) {
    @if not $found {
      @if $current-key == $key {
        $found: true;
      }
      $i: $i + 1;
    }
  }

  @return $i;
}


@function map-next-key($map, $current-key) {
  $index: map-next-index($map, $current-key);

  @if $index > length($map) {
    @return null;
  }
  @else {
    @return nth(map-keys($map), $index);
  }
}


@function map-next-value($map, $current-key) {
  $index: map-next-index($map, $current-key);

  @if $index > length($map) {
    @return null;
  }
  @else {
    @return nth(map-values($map), $index);
  }
}
