//===================================================================
//  Font
//===================================================================

@mixin font($size, $line-height: null, $weight: null, $style: null, $family: null) {
  @if $family {
    font-family: $family;
  }

  font-size: rem($size);

  @if $line-height {
    line-height: $line-height / $size;
  }

  @if $style {
    font-style: $style;
  }

  @if $weight {
    font-weight: $weight;
  }
}
