
$grid-column-class-prefix: 'g-col' !default;
$grid-row-class-prefix: 'g-row' !default;

$grid-max-width: 1000px !default;
$grid-total-columns: 12 !default;

$grid-gutter-size: 30px !default;
$grid-gutter-half-size: ($grid-gutter-size / 2) !default;



@function grid-column-width($num-columns, $total-columns: $grid-total-columns) {
  @return percentage(($num-columns / $total-columns));
}


@mixin grid-row() {
  margin: 0 auto;
  width: 100%;
  max-width: $grid-max-width;

  @include clearfix;

  & .#{$grid-row-class-prefix} {
    margin-left: -$grid-gutter-half-size;
    margin-right: -$grid-gutter-half-size;
    width: auto;
  }
}


@mixin grid-column($float: left) {
  float: $float;
  position: relative;
  padding-left: $grid-gutter-half-size;
  padding-right: $grid-gutter-half-size;
}


@mixin grid-column-offset($offset) {
  margin-left: grid-column-width($offset);
}


@mixin grid-column-classes() {
  .#{$grid-column-class-prefix} {
    @include grid-column;
  }

  @for $i from 1 through $grid-total-columns {
    .#{$grid-column-class-prefix}-#{$i} {
      @extend .#{$grid-column-class-prefix};
      width: grid-column-width($i);
    }
  }

  @for $i from 1 through $grid-total-columns - 1 {
    .#{$grid-column-class-prefix}-offset-#{$i} {
      @include grid-column-offset($i);
    }
  }
}
