//===================================================================
//  Grid
//===================================================================

$grid-column-class: 'g-col' !default;
$grid-row-class: 'g-row' !default;

$grid-max-width: 1000px !default;
$grid-total-columns: 12 !default;

$grid-gutter-size: 30px !default;
$grid-gutter-half-size: ($grid-gutter-size / 2) !default;

$grid-column-offset-classes: false !default;



@function grid-column-width($num-columns, $total-columns: $grid-total-columns) {
  $width: percentage(($num-columns / $total-columns));

  @if $width == 0% {
    $width: 0;
  }

  @return $width;
}


@mixin grid-row() {
  margin: 0 auto;
  width: 100%;
  max-width: $grid-max-width;

  @include clearfix;

  & & {
    margin: 0 -$grid-gutter-half-size;
    width: auto;
  }
}


@mixin grid-column($float: left) {
  float: $float;
  position: relative;
  padding-left: $grid-gutter-half-size;
  padding-right: $grid-gutter-half-size;
}


@mixin grid-column-offset($offset) {
  margin-left: grid-column-width($offset);
}


@mixin grid-column-pull($num-columns) {
  left: auto;
  right: grid-column-width($num-columns);
}


@mixin grid-column-push($num-columns) {
  left: grid-column-width($num-columns);
  right: auto;
}



@mixin grid-classes(
  $include-row: true,
  $include-column: true,
  $include-offset: true,
  $include-pull: true,
  $include-push: true) {


  // grid row classes
  @if $include-row {
    .#{$grid-row-class} {
      @include grid-row;
    }
  }


  // grid column classes
  @if $include-column {
    %#{$grid-column-class} {
      @include grid-column;
    }

    .#{$grid-column-class} {
      @extend %#{$grid-column-class};
      width: 100%;
    }

    @for $i from 1 through $grid-total-columns {
      .#{$grid-column-class}-#{$i} {
        @extend %#{$grid-column-class};
        width: grid-column-width($i);
      }
    }
  }


  // grid colum offset classes
  @if $include-offset {
    @for $i from 1 through $grid-total-columns - 1 {
      .#{$grid-column-class}-offset-#{$i} {
        @include grid-column-offset($i);
      }
    }
  }


  // grid column pull classes
  @if $include-pull {
    @for $i from 1 through $grid-total-columns - 1 {
      .#{$grid-column-class}-pull-#{$i} {
        @include grid-column-pull($i);
      }
    }
  }


  // grid column push classes
  @if $include-push {
    @for $i from 1 through $grid-total-columns - 1 {
      .#{$grid-column-class}-push-#{$i} {
        @include grid-column-push($i);
      }
    }
  }
}
