//===================================================================
//  GRID
//===================================================================

$grid-row-class: g-row !default;
$grid-column-class: g-col !default;
$grid-offset-class: g-offset- !default;
$grid-pull-class: g-pull- !default;
$grid-push-class: g-push- !default;

$grid-max-width: 1000px !default;
$grid-total-columns: 12 !default;

$grid-gutter-size: 30px !default;
$grid-gutter-half-size: ($grid-gutter-size / 2) !default;

$grid-include-row: true !default;
$grid-include-column: true !default;
$grid-include-offset: true !default;
$grid-include-pull: true !default;
$grid-include-push: true !default;


@function grid-column-width($num-columns, $total-columns: $grid-total-columns) {
  $width: percentage($num-columns / $total-columns);

  @if $width == 0% {
    @return 0;
  }

  @return $width;
}


@mixin grid-row() {
  margin: 0 auto;
  width: 100%;
  max-width: $grid-max-width;

  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }

  & & {
    margin: 0 -$grid-gutter-half-size;
    width: auto;
  }
}


@mixin grid-column($float: left) {
  float: $float;
  position: relative;
  padding-left: $grid-gutter-half-size;
  padding-right: $grid-gutter-half-size;
}


@mixin grid-column-offset($num-columns) {
  margin-left: grid-column-width($num-columns);
}


@mixin grid-column-pull($num-columns) {
  left: auto;
  right: grid-column-width($num-columns);
}


@mixin grid-column-push($num-columns) {
  left: grid-column-width($num-columns);
  right: auto;
}


@mixin grid-classes(
  $include-row: $grid-include-row,
  $include-column: $grid-include-column,
  $include-offset: $grid-include-offset,
  $include-pull: $grid-include-pull,
  $include-push: $grid-include-push) {

  // grid row classes
  @if $include-row {
    .#{$grid-row-class} {
      @include grid-row;
    }
  }

  // grid column classes
  @if $include-column {
    .#{$grid-column-class} {
      @include grid-column;
      width: 100%;
    }
  }

  // grid colum offset classes
  @if $include-offset {
    @for $i from 1 to $grid-total-columns {
      .#{$grid-offset-class}#{$i} {
        @include grid-column-offset($i);
      }
    }
  }

  // grid column pull classes
  @if $include-pull {
    @for $i from 1 to $grid-total-columns {
      .#{$grid-pull-class}#{$i} {
        @include grid-column-pull($i);
      }
    }
  }

  // grid column push classes
  @if $include-push {
    @for $i from 1 to $grid-total-columns {
      .#{$grid-push-class}#{$i} {
        @include grid-column-push($i);
      }
    }
  }
}
