//===================================================================
//  ICONS
//===================================================================

// 1. Ensures no half-pixel rendering in Firefox
//
@mixin icon {
  display: inline-block;
  overflow: hidden;
  text-indent: -999px;
  transform: translate(0, 0); // [1]
}
