//===================================================================
//  MEDIA-QUERY
//===================================================================

$media-query-breakpoints: (
  small   : 0,
  medium  : 640px,
  large   : 1200px,
  xlarge  : 1440px,
  xxlarge : 1920px
) !default;


@function media-query-width($value) {
  $width: 0;

  @if map-has-key($media-query-breakpoints, $value) {
    $width: map-get($media-query-breakpoints, $value);
  }
  @else if type-of($value) == 'number' {
    $width: $value;
  }

  @return em($width);
}


@mixin media-query($min: null, $max: null, $orientation: null, $type: 'screen') {
  $query: $type;

  @if $min != null {
    $min-width: media-query-width($min);
    @if $min-width > 0 {
      $query: $query + ' and (min-width: #{$min-width})';
    }
  }

  @if $max != null {
    $max-width: media-query-width($max) - (1/16);
    $query: $query + ' and (max-width: #{$max-width})';
  }

  @if $orientation != null {
    $query: $query + ' and (orientation: #{$orientation})';
  }

  @media #{$query} {
    @content;
  }
}
