//===================================================================
//  TRANSITION
//===================================================================

// @param {list|string} $names
//
// @returns {list}
//
@function transition-property-names($names) {
  $list: ();

  @each $name in $names {
    @if $name == transform {
      $list: append($list, -webkit-transform, comma);
    }

    $list: append($list, $name, comma);
  }

  @return $list;
}


// @requires {mixin} prefix
//
@mixin transition($values...) {
  @include prefix(transition, $values);
}


// @requires {mixin} prefix
//
// @param {number} $values
//
@mixin transition-delay($values...) {
  @include prefix(transition-delay, $values);
}


// @requires {mixin} prefix
//
// @param {number} $values
//
@mixin transition-duration($values...) {
  @include prefix(transition-duration, $values);
}


// @param {list|string} $values
//
@mixin transition-property($values...) {
  -webkit-transition-property: transition-property-names($values);
  transition-property:  transition-property-names($values);
}


// @requires {mixin} prefix
//
// @param {string} $values - cubic-bezier | ease | ease-in | ease-in-out | ease-out | initial | inherit | linear
//
@mixin transition-timing-function($values...) {
  @include prefix(transition-timing-function, $values);
}
