//===================================================================
//  WIDTHS
//===================================================================

$width-delimiter: \/ !default;

$width-prefix: w- !default;

$width-breakpoint-prefixes: (
  small   : sm-,
  medium  : md-,
  large   : lg-,
  xlarge  : xl-,
  xxlarge : xxl-
) !default;

$width-util-denominators: (2, 3, 4, 5) !default;


@mixin widths($denominator: 12, $prefix: $width-prefix, $inclusive: true) {
  @if $inclusive {
    @for $numerator from 1 through $denominator {
      .#{$prefix}#{$numerator}#{$width-delimiter}#{$denominator} {
        width: $numerator / $denominator * 100%;
      }
    }
  }
  @else {
    @for $numerator from 1 to $denominator {
      .#{$prefix}#{$numerator}#{$width-delimiter}#{$denominator} {
        width: $numerator / $denominator * 100%;
      }
    }
  }
}


@mixin widths-responsive() {
  @each $key, $value in $media-query-breakpoints {
    $min: if($value == 0, null, $key);
    $max: map-next-key($media-query-breakpoints, $key);
    $prefix: map-get($width-breakpoint-prefixes, $key);

    @include media-query($min, $max) {
      @include widths($prefix: $prefix);
    }
  }
}


@mixin widths-utils() {
  @each $denominator in $width-util-denominators {
    @include widths($denominator, $inclusive: false);
  }

  .#{$width-prefix}1#{$width-delimiter}1,
  .#{$width-prefix}full {
    width: 100%;
  }
}
